@model Login.Models.SIP

@{
    ViewData["Title"] = "Cancel SIP";
}

<h1>Cancel SIP</h1>

<h3>Are you sure you want to cancel this SIP?</h3>

<div>
    <h4>SIP Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Fund Name
        </dt>
        <dd class="col-sm-10">
            @Model.MutualFund.FundName
        </dd>
        <dt class="col-sm-2">
            SIP Amount
        </dt>
        <dd class="col-sm-10">
            ₹@Model.SipAmount
        </dd>
        <dt class="col-sm-2">
            Frequency
        </dt>
        <dd class="col-sm-10">
            @Model.Frequency
        </dd>
        <dt class="col-sm-2">
            Installment Date
        </dt>
        <dd class="col-sm-10">
            @Model.InstallmentDate.ToShortDateString()
        </dd>
    </dl>

    <form asp-action="CancelSIPConfirmed">
        <input type="hidden" asp-for="FolioNumber" />
        <div class="form-group">
            <input type="submit" value="Cancel SIP" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </form>
</div>